<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yy-MM-dd HH:mm:ss.SSS} %-5level %-4relative - [ %thread{10} ] %logger{20}.%M:%L : %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <if condition='System.getProperty("os.name").toLowerCase().contains("windows")'>
        	<then>
            	<fileNamePattern>C:\logs\ami-waslog-%d{yyyy-MM-dd}-%i.log.zip</fileNamePattern>
            </then>
            <else>
            	<fileNamePattern>/app/AmiWas/logs/ami-waslog-%d{yyyy-MM-dd}-%i.log.zip</fileNamePattern>
            	<!-- <fileNamePattern>/app/Ami_skens/logs/skens-waslog-%d{yyyy-MM-dd}-%i.log.zip</fileNamePattern> -->
            </else>
        </if>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>90</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yy-MM-dd HH:mm:ss.SSS} %-5level %-4relative - [ %thread{10} ] %logger{20}.%M:%L : %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="SYSTEMLOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <if condition='System.getProperty("os.name").toLowerCase().contains("windows")'>
        	<then>
            	<fileNamePattern>C:\logs\ami-syslog-%d{yyyy-MM-dd}-%i.log.zip</fileNamePattern>
            </then>
            <else>
            	<fileNamePattern>/app/AmiWas/logs/ami-syslog-%d{yyyy-MM-dd}-%i.log.zip</fileNamePattern>
            	<!-- <fileNamePattern>/app/Ami_skens/logs/skens-syslog-%d{yyyy-MM-dd}-%i.log.zip</fileNamePattern> -->
            </else>
        </if>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>90</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yy-MM-dd HH:mm:ss.SSS} %-5level %-4relative - [ %thread{10} ] %logger{20}.%M:%L : %msg%n</pattern>
        </encoder>
    </appender>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="ROLLING" />
	</root>

	<logger name="com.cnu.ami.scheduler" additivity="false">
        <appender-ref ref="SYSTEMLOG"/>
    </logger>

	<logger name="com.cnu.ami" level="DEBUG"/>
	
	<!-- <logger name="org.mongodb.driver" level="DEBUG"/> -->

<!-- 	<logger name="org.hibernate.type.descriptor.sql" level="TRACE"/>
	<logger name="org.springframework.http" level="DEBUG"/>
	
	<logger name="com.zaxxer.hikari.HikariConfig" level="DEBUG"/>
	<logger name="com.zaxxer.hikari" level="TRACE"/> -->

</configuration>